body {
    margin: 0;
    
    font-size: 22px;
    font-family: Verdana;

}
div.wrapper{
    background-image: url(../images/nice-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 230px;
    position: relative;
}
.sign{
    position: absolute;
    top: 0;
    right: 0;
}
.profile{
    font-size: 15px;
    text-transform: lowercase;
    color: #ffffff;
}
.profile:hover{
    color: #1310b9;
}
/* h1{
    margin: 0;
    text-align: center;
    color: #0a547eeb;
    font-family: math;
} */

img{
    height: 100px;
    position: relative;
    top: 10px;
}
div.eventTypeSelectorsWrapper {
    text-align: center;
    margin: 15px;
    width: 800px;
    position: relative;
    left: calc(50% - 400px);
    bottom: 70px;
}

div.row{
    margin: 15px 0;
}

a{
    margin: 5px;
    cursor: pointer;
}

.search{
    border-radius: 20px;
    width: 355px;
    height: 30px;
    padding: 15px;
    margin: 0 1px;
    box-sizing: border-box;
}
input[type="date"]{
    width: 200px;
}
button.search{
    width: 100px;
    height: 34px;
    border-radius: 20px;
    padding: 0;
    color: white;
    cursor: pointer;
    background-image: linear-gradient(to left bottom, #60d0eb, #7cc4ed, #6596dd, #7e77e7, #aa8cb1);
}

.dropDown
{
    display: inline-block;
    font-size: 15px;
    /* padding: 0px; */
    padding-inline-start: 10px;
    margin-right: 5px;
    min-width: 24px;
}

.dropDown span {
}

.dropDown ul{
    display: none;
    position: absolute;
    top: 7px;
    right: 7px;
    margin-block-end:0;
    margin-block-start: 0;
    padding-inline-start: 0;
    background-color: #6596dd;
} 


.dropDown:hover ul{
    display: block;
}

.dropDown ul li {
    cursor: pointer;
}
.dropDown ul .selected{
    background-color: #aa8cb1;
}
.lang{
    display:block;
    
}

.hide{
    display: none;
}

/* tables */
table{
    background-color: #d7efff;
    border-collapse: collapse;
}
thead tr{
    background: #000000;
    color: #fffdfd;
    font-size: 18px;
}

th{
    min-width: 150px;
}


thead td {
   
}

tr{
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid black;
}
tr:last-child{
    border: none;
}

tr:nth-child(2n){
    background-color: #addcfdb8;;
}

td{

}


/* tables */
