body {
    margin: 0;
    
    font-size: 22px;
    font-family: Verdana;
    text-transform: uppercase;

}
div.wrapper{
    background-image: url(../images/nice-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 230px;
    position: relative;
}
.sign{
    position: absolute;
    top: 0;
    right: 0;
}
.profile{
    font-size: 15px;
    text-transform: lowercase;
    color: #ffffff;
}
.profile:hover{
    color: #1310b9;
}
/* h1{
    margin: 0;
    text-align: center;
    color: #0a547eeb;
    font-family: math;
} */

img{
    height: 100px;
    position: relative;
    top: 10px;
}
div.table{
    text-align: center;
    margin: 15px;
    width: 800px;
    position: relative;
    left: calc(50% - 400px);
    bottom: 70px;
}

div.row{
    margin: 15px 0;
}

a{
    margin: 5px;
    cursor: pointer;
}

.search{
    border-radius: 20px;
    width: 355px;
    height: 30px;
    padding: 15px;
    margin: 0 1px;
    box-sizing: border-box;
}
input[type="date"]{
    width: 200px;
}
button.search{
    width: 100px;
    height: 34px;
    border-radius: 20px;
    padding: 0;
    color: white;
    cursor: pointer;
    background-image: linear-gradient(to left bottom, #60d0eb, #7cc4ed, #6596dd, #7e77e7, #aa8cb1);
}