doctype html
html
  head 
    link(href="../css/index.css" rel="stylesheet")
  body 
    div.wrapper
      div.sign
        a.profile sign in
        a.profile sign up 
        select#lang(name="lang")
          option(value="EN") EN
          option(value="BG") BG
      a(id="logo", href="/")
        img(src="../images/logo.png", alt="")
       
      div.table 
        div.row
          a All events 
          a Concerts
        div.row
          a Festivals
          a Other events
        div.row
          input.search(type="text", placeholder="Search by event,name or activity")
          input.search(type="date")
          button.search SEARCH
    h2 popular events 
    h2 Upcomming events 
    h2 comming soon
       


    script(src="../node_modules/jquery/dist/jquery.min.js")
    script(src="../js/index.js")