doctype html
html
  head 
    link(href="../css/index.css" rel="stylesheet")
  body 
    div.wrapper
      div.sign
        a.profile sign in
        a.profile sign up
        div.dropDown 
          span EN
          ul
            li.lang.selected EN
            li.lang BG
        
      a(id="logo", href="/")
        img(src="../images/logo.png", alt="")
       
      div.eventTypeSelectorsWrapper 
        div.row
          a All events 
          a Concerts
        div.row
          a Festivals
          a Other events
        div.row
          input.search(type="text", placeholder="Search by event,name or activity")
          input.search(type="date")
          button.search SEARCH
    h2 popular events 
    table.popularEvents
      thead 
        tr 
          th Artist 
          th Event type 
          th Date 
          th Start time
          th End time
          th Place 
          th City
      tbody.popularEventsBody 
        
    h2 Upcomming events 
    h2 Comming soon
       


    script(src="../node_modules/jquery/dist/jquery.min.js")
    script(src="../node_modules/moment/min/moment.min.js")

    script(src="../js/index.js")